<!DOCTYPE html>
<html lang="en">
<head>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" rel="stylesheet"/>
    <link href="./css/style.css" rel="stylesheet"/>
    <script
            src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
    <script
            src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.7/angular.min.js"></script>
    <script
            src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-bootstrap/0.14.2/ui-bootstrap.min.js"></script>
    <script
            src="https://cdnjs.cloudflare.com/ajax/libs/cytoscape/2.4.9/cytoscape.min.js"></script>
    <script
            src="js/graphController.js"></script>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="user-scalable=no, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, minimal-ui">
    <title>AngularJS example</title>
</head>
<body ng-app="app">
<div class="container">
    <!--Row with two columns divided in 1:2 ratio-->
    <div class="row">
        <div class="col-sm-4">
            <table id="people-table" ng-controller="PeopleCtrl">
                <tbody>
                <tr>
                    <th>Name</th>
                    <th>Weight</th>
                </tr>
                <tr ng-repeat="person in people">
                    <td>{{person.name}}</td>
                    <td><input type="number" min="1" ng-model="person.weight" ng-change="onWeightChange(person)"/></td>
                </tr>
                </tbody>
            </table>
        </div>
        <div class="col-sm-8">
            <div id="cy"></div>
        </div>
    </div>
</div>
</body>
</html>